<!DOCTYPE html>
<html lang="fr">
    {% include 'header.html.twig' %}
    <body>
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption">
                    <h3 class="carousel">E²</h3>
                    <p class="carousel">ENSEIGNER, AIDER, La RICHESSE EST A L'ECHANGE </p>
                </div>
                <img src="{{asset('build/images/computer.jpg')}}" width="1100" height="500">
            </div>
            <div class="carousel-item">
                <img src="{{asset('build/images/boys.jpg')}}" width="1100" height="500">
            </div>
            <div class="carousel-item">
                <img src="{{asset('build/images/online.jpg')}}" width="1100" height="500">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h1>ETOE</h1>
                <p id="presentation">
                    Étudiants passionnés par le partage de leur compétences, entrepreneurs dans l’âme et très sensibles à l’accompagnement des élèves nous avons décidé de nous lancer dans l’aventure de l’entreprise au travers de ce que nous connaissons le mieux :
                    “l’accompagnement personnalisé des élèves avec le respect de chacun “
                    Chacun de nous, durant notre carrière, a pu croiser des élèves précoces, des élèves dyslexiques, des élèves moyens, des élèves autistes et des parents soucieux de trouver la personne qui correspond aux attentes de leurs enfants.
                    Nous avons travaillé sur les intelligences multiples, sur l’estime de soi, sur les parcours pédagogiques différenciés. Puisque nous sommes avant tout des étudiants qui sommes passés par l’aide aux devoir en parallèle de nos études. Nous sommes une équipe sensible aux pédagogies. Le cours particulier est un ardu mélange entre l’élève apprenant et l’étudiant lui apportant les réponses adéquates.
                    Nous sommes notamment sensibles à la valorisation positive de l’élève, à la confiance développée dans le rapport étudiant-élève. Nous proposons un réseau d’étudiants différents autant sur le plan pédagogique que relationnel.
                </p>
            </div>
        </div>
    </div>

    </body>
</html>